{% extends "base.html" %}
{% block body %}

<div class="container admin-content" >
    <p><h4>提示:</h4><span class="red">  请按照执行步骤执行 如果中途手动关闭了服务,请将数据库中两个operation文档手动删除 否则程序会一直认为后台还在运行爬虫</span></p>
    <div class="col-sm-12">
      <h4>1： 获取资源详情页面地址</h4>
        <button class="btn btn-danger" id="pageUrl">开始</button>
        <span id="startMessage"></span>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <b>转取页面是否完成： <span class="red" id="pageUrlQueryReady"></span></b>
            </div>
            <div class="col-sm-6">
                <b>保存数据库是否完成： <span class="red" id="pageUrlIsReady"></span></b>
            </div>
            <div class="col-sm-6">
                <b>分页页面总数： <span class="red" id="pageCount"></span></b>
            </div>
            <div class="col-sm-6">
               <b>抓取详情页面数： <span class="red" id="pageUrlCount"></span></b>
            </div>
            <div class="col-sm-6">
                <b>保存成功数： <span class="red" id="pageUrlDbCount"></span></b>
            </div>
            <div class="col-sm-6">
                <b>保存失败数： <span class="red" id="pageUrlFailCount"></span></b>
            </div>
            <div class="col-sm-6">
                <b>数据库中已存在数： <span class="red" id="pageUrlDbExistCount"></span></b>
            </div>
            <div class="col-sm-6">
                <b>页面查询耗时： <span class="red" id="pageUrlQueryTime"></span>ms</b>
            </div>
            <div class="col-sm-6">
                <b>数据保存耗时： <span class="red" id="pageUrlSaveTime"></span>ms</b>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <h4>2： 抓取详情信息入库</h4>
        <button class="btn btn-danger" id="detailInfo">开始</button>
        <span id="startMessage1"></span>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <b>保存信息是否完成： <span class="red" id="detailInfoIsReady"></span></b>
            </div>

            <div class="col-sm-6">
                <b>待处理详情页面数： <span class="red" id="pageCounts"></span></b>
            </div>
            <div class="col-sm-6">
                <b>爬取页面失败数： <span class="red" id="detailInfoQueryFailsCount"></span></b>
            </div>
            <div class="col-sm-6">
                <b>保存成功数： <span class="red" id="detailInfoSuccessCount"></span></b>
            </div>
            <div class="col-sm-6">
                <b>保存失败数： <span class="red" id="detailInfoSaveFailsCount"></span></b>
            </div>
            <div class="col-sm-6">
                <b>查询并保存总耗时： <span class="red" id="detailInfoQueryAndSaveTime"></span>ms</b>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <h4>3： <a href="/demo/">打开页面查看</a></h4>
    </div>
</div>


<script>
    $(function(){
        //TODO 页面初始化时调接口查看后台是否在运行爬虫 运行的话则需要启动轮询查看进度
        $("#pageUrl").on('click',function(){
            $.ajax({
                url:"/page_url/crawler/",
                type:'post',
                dataType:"json",
                beforeSend:function(XHR){
                    console.log(XHR);
                },
                success:function(data){
                   if(data.status){
                      $(this).attr("disabled","disabled");
                       $("#startMessage").html("后台爬虫已经启动，请耐心等待");
                        pollingProgress();
                   }else{
                       alert("后台提示: "+data.message);
                   }
                },
                complete:function(XHR, TS){
                    console.log(XHR);
                    console.log(TS);
                }
            });
        });
        //尾调 轮询进度
        function pollingProgress(){
            setTimeout(function(){
                  $.ajax({
                      url:"/url_operation/query/",
                      type:'post',
                      dataType:"json",
                      beforeSend:function(XHR){

                      },
                      success:function(result){
                          $("#pageCount").html(result.data.pageCount);
                          $("#pageUrlDbCount").html(result.data.pageUrlDbCount);
                          $("#pageUrlCount").html(result.data.pageUrlCount);
                          $("#pageUrlDbExistCount").html(result.data.pageUrlDbExistCount);
                          $("#pageUrlFailCount").html(result.data.pageUrlFailCount);
                          if(result.data.pageUrlIsReady){
                              $("#pageUrlIsReady").html("已完成");
                          }else{
                              $("#pageUrlIsReady").html("未完成");
                          }
                          if(result.data.pageUrlQueryReady){
                              $("#pageUrlQueryReady").html("已完成");
                          }else{
                              $("#pageUrlQueryReady").html("未完成");
                          }
                          $("#pageUrlQueryTime").html(result.data.pageUrlQueryTime);
                          $("#pageUrlSaveTime").html(result.data.pageUrlSaveTime);
                          //如果未完成 则继续调用
                           if(!result.data.pageUrlIsReady){
                               pollingProgress();
                           }else{
                               $("#startMessage").html("操作已经完成！");
                           }
                      },
                      complete:function(XHR, TS){

                      }
                  });
              },3000);
          }


       $("#detailInfo").on('click',function(){
            $.ajax({
                url:"/detail_info/crawler/",
                type:'post',
                dataType:"json",
                beforeSend:function(XHR){
                    console.log(XHR);
                },
                success:function(data){
                    if(data.status){
                        $(this).attr("disabled","disabled");
                        $("#startMessage1").html("后台爬虫已经启动,请耐心等待");
                        detailPollingProgress();
                    }else{
                        alert("后台提示: "+data.message);
                    }
                },
                complete:function(XHR, TS){
                    console.log(XHR);
                    console.log(TS);
                }
            });
        });

        //尾调 轮询进度
        function detailPollingProgress(){
            setTimeout(function(){
                $.ajax({
                    url:"/detail_info_operation/query/",
                    type:'post',
                    dataType:"json",
                    beforeSend:function(XHR){
                    },
                    success:function(result){
                        $("#pageCounts").html(result.data.pageCount);
                        $("#detailInfoQueryFailsCount").html(result.data.detailInfoQueryFailsCount);
                        $("#detailInfoSaveFailsCount").html(result.data.detailInfoSaveFailsCount);
                        $("#detailInfoSuccessCount").html(result.data.detailInfoSuccessCount);
                        if(result.data.detailInfoIsReady){
                            $("#detailInfoIsReady").html("已完成");
                            $("#startMessage1").html("操作已经完成！");
                        }else{
                            $("#detailInfoIsReady").html("未完成");
                            //如果未完成 则继续调用
                            detailPollingProgress();
                        }
                        $("#detailInfoQueryAndSaveTime").html(result.data.pageUrlQueryTime);

                    },
                    complete:function(XHR, TS){

                    }
                });
            },3000);
        }


    });

</script>
{% endblock %}